.spectrum-container {
   margin: 10px;
   position: relative;
   animation-delay:0.1s;
   background-color: #000033;
}

.spectrum {
   height: 100%;
}

.spectrum__layer {
   border-radius: 10px;
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   background-color: transparent;
}

#layer-axes {
   z-index:10;
}

#layer-graph {
   z-index: 8;
}

#layer-graph-max {
   z-index: 9;
}

#layer-pointer {
   z-index: 12;
}